@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.glass {
		@apply bg-white/30 backdrop-blur-md border border-white/20 shadow-lg;
	}

	.glass-strong {
		@apply bg-white/50 backdrop-blur-lg border border-white/30 shadow-xl;
	}
}

@layer base {
	* {
		-webkit-tap-highlight-color: transparent;
	}
}
